<app-navbar></app-navbar>

<main>
    <div class="flex justify-center items-center">
        <img class="" style="width: 1200px; height: 350px;" src="../../assets/rhodesian_pic_2.jpg"
            alt="rhodesian ridgeback picture">
    </div>

    <div>
        <div class="bg-gold">color square</div>
        <div>
            <p>See the puppys</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
        </div>
        <button class="bg-gold">Explore</button>
    </div>

    <div class="flex justify-center items-center">
        <img class="max-h-96 w-max" src="../../assets/homepage_picture_1.jpg" alt="rhodesian ridgeback picture">
    </div>
</main>