<app-navbar></app-navbar>

<main>
  <div class="bg-gold w-screen h-60 flex justify-evenly items-center">
    <div>
      <h5 class="text-xl mb-8">Nice to meet you</h5>
      <h2 class="text-7xl font-bold">About Us</h2>
    </div>

    <div class="w-72"></div>
    <!-- space filler -->

    <div>
      <h5 class="text-xl w-80">
        Learn more about us, the dogs, and the puppies
      </h5>
    </div>
  </div>

  <div class="flex justify-center items-center mt-10">
    <img
      class="w-max h-min"
      src="https://previews.123rf.com/images/wavebreakmediamicro/wavebreakmediamicro1403/wavebreakmediamicro140334927/28380665-portrait-of-an-extended-family-with-their-pet-dog-sitting-at-the-park.jpg"
      alt="Picture of a family and their dogs sitting on a bench"
    />
  </div>

  <hr class="w-600px my-12" />

  <div class="flex flex-col justify-center items-center my-10">
    <h1>Meet the Family</h1>
    <p class="mx-96">
      We are the Escue’s. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>

  <div class="flex flex-col justify-center items-center border-solid border-2 rounded-xl mx-28 my-10">
    <h1>Trey</h1>
    <div class="flex justify-evenly items-center">
      <p>
        Trey - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <img src="" alt="Headshot of a man">
    </div>
  </div>

  <div class="flex flex-col justify-center items-center border-solid border-2 rounded-xl mx-28  my-10">
    <h1>Caroline</h1>
    <div class="flex justify-evenly items-center">
      <img src="" alt="Headshot of a woman">
      <p>
        Caroline - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

  <hr />

  <div class="flex flex-col justify-center items-center  my-10">
    <h1>Meet the Dogs</h1>
    <p class="mx-96">
      We are the Dogs. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
      ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>

  <div class="flex flex-col justify-center items-center border-solid border-2 rounded-xl mx-28  my-10">
    <h1>Nala</h1>
    <div class="flex justify-evenly items-center">
      <img src="" alt="Picture of a mother dog">
      <p>
        Trey - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center border-solid border-2 rounded-xl mx-28  my-10">
    <h1>Simba</h1>
    <div class="flex justify-evenly items-center">
      <p>
        Simba - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <img src="" alt="Picture of a father dog">
    </div>
  </div>
</main>
