<app-navbar></app-navbar>

<main>
  <div class="bg-gold w-screen h-60 flex justify-evenly items-center">
    <div>
      <h5 class="text-xl mb-8">Nice to meet you</h5>
      <h2 class="text-7xl font-bold">About Us</h2>
    </div>

    <div class="w-72"></div>
    <!-- space filler -->

    <div>
      <h5 class="text-xl w-80">
        Learn more about us, the dogs, and the puppies
      </h5>
    </div>
  </div>

  <div class="flex justify-center items-center mt-10">
    <img
      class="w-max h-min"
      src="https://previews.123rf.com/images/wavebreakmediamicro/wavebreakmediamicro1403/wavebreakmediamicro140334927/28380665-portrait-of-an-extended-family-with-their-pet-dog-sitting-at-the-park.jpg"
      alt="Picture of a family and their dogs sitting on a bench"
    />
  </div>

  <hr class="w-600px my-12" />

  <div class="flex flex-col justify-center items-center my-10">
    <h1>Meet the Family</h1>
    <p class="mx-96">
      We are the Escue’s. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>

  <div class="flex justify-center items-center border-solid border-2 rounded-xl mx-28 my-10">
    <div class="flex flex-col justify-center items-center content-between mx-20">
      <h1>Trey</h1>
      <p>
        Trey - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <img class="family-pictures" src="../../assets/picture_of_a_man.jpg" alt="Headshot of a man">
  </div>

  <div class="flex justify-center items-center border-solid border-2 rounded-xl mx-28 my-10">
    <img class="family-pictures" src="../../assets/picture_of_a_woman.jfif" alt="Headshot of a woman">
    <div class="flex flex-col justify-center items-center content-between mx-20">
      <h1>Caroline</h1>
      <p>
        Caroline - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

  <hr />

  <div class="flex flex-col justify-center items-center  my-10">
    <h1>Meet the Dogs</h1>
    <p class="mx-96">
      We are the Dogs. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
      ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>

  <div class="flex justify-center items-center border-solid border-2 rounded-xl mx-28 my-10">
    <div class="flex flex-col justify-center items-center content-between mx-20">
      <h1>Nala</h1>
      <p>
        Trey - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <img class="family-pictures" src="../../assets/picture_of_mother_rhodesian.jfif" alt="Picture of a mother dog">
  </div>

  <div class="flex justify-center items-center border-solid border-2 rounded-xl mx-28 my-10">
    <img class="family-pictures" src="../../assets/picture_of_father_rhodesian.jfif" alt="Picture of a father dog">
    <div class="flex flex-col justify-center items-center content-between mx-20">
      <h1>Simba</h1>
      <p>
        Simba - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
</main>
