<nav class="my-7 flex justify-center items-center">
    <div class="w-1/3 h-12 flex flex-row justify-center items-center space-x-4">
        <a href="#"><img src="../../assets/Icon/Logo.png" alt="Website logo of a dog paw"></a>
        <a href="#">
            <p>Rhoddy Ridgebacks</p>
        </a>
    </div>

    <div class="w-1/3 flex justify-center items-center">
        <ul class="flex justify-evenly items-center w-full">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Dogs</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>

    <div class="w-1/3 m-0 flex flex-row justify-center items-center space-x-6">
        <a href="#"><img class="w-6 h-6" src="../../assets/icons8-facebook-24.png" href="#" alt="facebook logo"></a>
        <a href="#"><img class="w-6 h-6 m-0" src="../../assets/icons8-instagram-24.png" href="#"
                alt="instagram logo"></a>
        <a href="#"><img class="w-6 h-6" src="../../assets/icons8-email-50.png" href="#" alt="email logo"></a>
    </div>
</nav>