<app-navbar></app-navbar>

<h1 class="text-center text-5xl font-bold mb-8">Meet the Dogs</h1>

<div class="container m-auto grid grid-cols-2 gap-4 mb-10">
  <div class="flex justify-center items-center rounded-xl">
    <div class="absolute">
      <a routerLink="/dogOne">
        <div  class="flex justify-center items-center box z-10 relative w-32 h-10 top-12">
          <p class="text-center font-semibold">Dog 1</p>
        </div>
      </a>
    </div>
    <a routerLink="/dogOne">
      <img class="relative z-0 w-52 h-52" src="../../assets/ridgeback_puppy_dog_page.jpg" alt="puppy 1">
    </a>
  </div>

  <div class="flex justify-center items-center rounded-xl">
    <div class="absolute">
      <a routerLink="/dogTwo">
        <div  class="flex justify-center items-center box z-10 relative w-32 h-10 top-12">
          <p class="text-center font-semibold">Dog 2</p>
        </div>
      </a>
    </div>
    <a routerLink="/dogTwo">
      <img class="relative z-0 w-52 h-52" src="../../assets/ridgeback_puppy_dog_page.jpg" alt="puppy 2">
    </a>
  </div>

  <div class="flex justify-center items-center rounded-xl">
    <div class="absolute">
      <a routerLink="/dogThree">
        <div  class="flex justify-center items-center box z-10 relative w-32 h-10 top-12">
          <p class="text-center font-semibold">Dog 3</p>
        </div>
      </a>
    </div>
    <a routerLink="/dogThree">
      <img class="relative z-0 w-52 h-52" src="../../assets/ridgeback_puppy_dog_page.jpg" alt="puppy 3">
    </a>
  </div>

  <div class="flex justify-center items-center rounded-xl">
    <div class="absolute">
      <a routerLink="/dogFour">
        <div  class="flex justify-center items-center box z-10 relative w-32 h-10 top-12">
          <p class="text-center font-semibold">Dog 4</p>
        </div>
      </a>
    </div>
    <a routerLink="/dogFour">
      <img class="relative z-0 w-52 h-52" src="../../assets/ridgeback_puppy_dog_page.jpg" alt="puppy 4">
    </a>
  </div>

  <div class="flex justify-center items-center rounded-xl">
    <div class="absolute">
      <a routerLink="/dogFive">
        <div  class="flex justify-center items-center box z-10 relative w-32 h-10 top-12">
          <p class="text-center font-semibold">Dog 5</p>
        </div>
      </a>
    </div>
    <a routerLink="/dogFive">
      <img class="relative z-0 w-52 h-52" src="../../assets/ridgeback_puppy_dog_page.jpg" alt="puppy 5">
    </a>
  </div>

  <div class="flex justify-center items-center rounded-xl">
    <div class="absolute">
      <a routerLink="/dogSix">
        <div  class="flex justify-center items-center box z-10 relative w-32 h-10 top-12">
          <p class="text-center font-semibold">Dog 6</p>
        </div>
      </a>
    </div>
    <a routerLink="/dogSix">
      <img class="relative z-0 w-52 h-52" src="../../assets/ridgeback_puppy_dog_page.jpg" alt="puppy 6">
    </a>
  </div>

  <div class="flex justify-center items-center rounded-xl">
    <div class="absolute">
      <a routerLink="/dogSeven">
        <div  class="flex justify-center items-center box z-10 relative w-32 h-10 top-12">
          <p class="text-center font-semibold">Dog 7</p>
        </div>
      </a>
    </div>
    <a routerLink="/dogSeven">
      <img class="relative z-0 w-52 h-52" src="../../assets/ridgeback_puppy_dog_page.jpg" alt="puppy 7">
    </a>
  </div>

  <div class="flex justify-center items-center rounded-xl">
    <div class="absolute">
      <a routerLink="/dogEight">
        <div  class="flex justify-center items-center box z-10 relative w-32 h-10 top-12">
          <p class="text-center font-semibold">Dog 8</p>
        </div>
      </a>
    </div>
    <a routerLink="/dogEight">
      <img class="relative z-0 w-52 h-52" src="../../assets/ridgeback_puppy_dog_page.jpg" alt="puppy 8">
    </a>
  </div>
</div>
