<app-navbar></app-navbar>

<main class="flex flex-col justify-center items-center">
  <div>
    <img
      src="../../assets/ridgeback_puppy_dog_page.jpg"
      alt="picture of the rhodesian ridgeback puppy"
    />
  </div>

  <div class="flex flex-col justify-center items-center">
    <!-- <h1>Meet {{dogName}}</h1> -->
    <h1 class="text-center text-3xl font-bold my-8">Meet Dog</h1>
    <p class="mx-48 mb-10">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas
      deserunt rerum corporis, tenetur eveniet dolore incidunt minima quidem
      enim sed quisquam consectetur! Odit quisquam aliquid voluptas
      perspiciatis, culpa excepturi, explicabo illo, voluptate dolore neque
      commodi reprehenderit provident rem sapiente reiciendis vero recusandae
      hic nam delectus eveniet libero. Et atque esse error. Ex ut neque sequi!
      Itaque facere deserunt non quasi nisi atque in officia, labore minus qui
      eveniet assumenda, nesciunt id necessitatibus consequuntur. Error sit odio
      enim facilis sint rerum quo mollitia eveniet nobis est atque ducimus unde
      tenetur repellat laborum, delectus fuga eos ab! Deleniti sint sequi
      molestias est.
    </p>
  </div>
</main>
